- function te (str) { return t(str) !== str }

#topic-wrapper.llamado(class=forum.visibility === 'collaborative' && !forum.privileges.canChangeTopics ? 'collaborative' : '')
  - if (tags.length === 0)
    if (user.staff)
      p.alert.alert-danger.text-center
        != t('admin-topics-form.alert.no-tags')
      p.text-center
        a.btn.btn-lg.btn-primary.create-tag(href=urlBuilder.for('admin.tags.create', {forum: forum.name}))
          = t('admin-tags-form.title.create')
    else
      p.alert.alert-danger.text-center
        = t('admin-topics-form.alert.no-tags.no-staff')
  - else
    h2
      = t(form.title)
      - if (form.type === 'edit')
        a(class='btn btn-link btn-md', href=topic.url, target='_blank')
          = t('admin-topics-form.title.preview')
          | &nbsp;
          i.icon-eye
    include commands-llamado
    h5.sugerencia
      = form.sugerencia 
    .topic-admin
      form(action=form.action, method=form.method, role='form', autocomplete='off', novalidate, autovalidate='autovalidate', autosubmit='autosubmit')
        - if (topic.privileges && !topic.privileges.canEdit)
          .block-overlay
        - if (form.forum)
          input(type='hidden', name='forum', value=form.forum)
        ul.form-messages
        .form-group
          label= 'Título de la propuesta'
          - if (te('admin-topics-form.description.mediaTitle'))
            span.help-text= t('admin-topics-form.description.mediaTitle')
          input.form-control(type='text', maxlength='200', id='mediaTitle', name='mediaTitle', placeholder=t('admin-topics-form.label.mediaTitle'), value=topic.mediaTitle, validate='required')
        .form-group.problema
          label= '¿Qué  problema querés resolver?'
          textarea.form-control(name='extra.problema')= topic.extra && topic.extra.problema
        .form-group
          label= '¿Cuál es tu propuesta?'
          textarea.form-control(name='body')= topic.body
        .form-group.tag
          label= 'Elegí la categoría asociada a tu propuesta'
          - if (te('admin-topics-form.description.tag'))
            span.help-text= t('admin-topics-form.description.tag')
          select.form-control(name='tag', validate='required')
            - var topicTag = typeof topic.tag === 'string' ? topic.tag : (topic.tag && topic.tag.id)
            - each tag in tags
              option(selected=tag.id === topicTag, value=tag.id)
                = tag.name
        .form-group
          label= 'Elegí etiquetas de los temas relacionados a tu propuesta'
          - if (te('admin-topics-form.description.tags'))
            span.help-text= 'Separarlos apretando ENTER o TAB'
          div.tags-autocomplete
          - if (forum.initialTags && forum.initialTags.length > 0)
            span.help-text= 'Separarlos apretando ENTER o TAB'
            - each tag in forum.initialTags
              button.btn.btn-default.btn-sm.forum-tag(data-value=tag, type='button', disabled=(topic.tags && !!~topic.tags.indexOf(tag)))= tag
        //.form-group.closingAt
          label= t('admin-topics-form.label.closingAt')
          - if (te('admin-topics-form.description.closingAt'))
            span.help-text= t('admin-topics-form.description.closingAt')
          - var closingAt = ''
          - var closingAtTime = ''
          - if (topic.closingAt)
            - closingAt = new Date(topic.closingAt)
            - var closingAtTime = moment(closingAt).format('H:mm')
            - closingAt = closingAt.getFullYear() + '/' + (closingAt.getMonth() + 1) + '/' + closingAt.getDate()
          .form-inline
            .form-group
              input.form-control(name='closingAt', readonly=true, value=closingAt, placeholder='yyyy/mm/dd')
              input.form-control(name='closingAtTime', maxlength='10', value=closingAtTime, placeholder='hh:mm', validate='time')
            button.btn.btn-link.remove-button(type='button', data-clear-closing-at)
              i.icon-trash

        .form-group
          label='Acá podés compartir archivos o enlaces de referencia'
          .topic-links
            - // create a disabled link to force empty array value
            input(type='hidden', name='links[][_id]', disabled)
            input(type='hidden', name='links[][text]', disabled)
            input(type='hidden', name='links[][url]', disabled)
            - if (topic.links && topic.links.length)
              - each link, index in topic.links
                include link
          div
            button.add-link.btn.btn-link(type='button')
              = '+ ' + t('admin-topics-form.button.add-link')
              
        .form-group
          label= 'Subí una foto que represente tu propuesta'
          - if (te('admin-topics-form.description.coverUrl'))
            span.help-text= t('admin-topics-form.description.coverUrl')
          input.form-control(type='text', maxlength='254', id='coverUrl', name='coverUrl', placeholder=t('admin-topics-form.placeholder.coverUrl'), value=topic.coverUrl, validate='url')
        
        input.btn.btn-success.hide(type='submit', value=t('admin-topics-form.button.submit'))
    include commands-llamado
